// Rename file to secret.h and update the variables below:

#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASS "your_wifi_password"
#define FIREBASE_HOST_S "databaseURL"
#define FIREBASE_AUTH_S "firebaseSecret"
#define AP_PASSWORD "ap_test_password"